[submodule "Cover-Artboard"]
	path = Cover-Artboard
	url = https://github.com/sebj/Cover-Artboard.git
[submodule "Rename-Layers"]
	path = Rename-Layers
	url = https://github.com/sebj/Rename-Layers.git
[submodule "Remove-Fills-and-Borders"]
	path = Remove-Fills-and-Borders
	url = https://github.com/sebj/Remove-Fills-and-Borders.git
[submodule "Invert-Background-Color"]
	path = Invert-Background-Color
	url = https://github.com/sebj/Invert-Background-Color.git
